*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.cabecalho{
    display: flex;
    background-color: #061143;
    justify-content: center;
}

.entrada{
    display: flex;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-family: 'Regan HeavyItalic', sans-serif;
    font-weight: 900; /*Font-Height aumenta a largura da letra */
    font-style: italic;
    font-size: 2rem;
    text-transform: uppercase;
}

.imagens{
    display: flex;
    justify-content: space-between;
}
.imagens .homemCorrendo{
    display: flex;
    height: 460.5px;
}
.sobre{
    display: flex;
    
    flex-direction: column;
    background-color: #21073c;
    height: 250px;
    color: #fbfbfb;
}
.about{
    display: flex; 
    margin-left: 15px;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}

.paragrafoAbout{
    display: flex;
    margin-left: 15px;
    text-align: justify;
    font-family: 'Regan Black', sans-serif;
    font-size: 15px;
}

.contatos{
    display: flex;
    margin-top: 30px;
    flex-direction: column;
}

.fornecedores{
    display: flex; 
    margin-left: 15px;
    margin-top: 30px;
    font-family: 'Regan HeavyItalic', sans-serif;
    font-weight: 900; /*Font-Height aumenta a largura da letra */
    font-style: italic;
    font-size: 2rem;
    color: #21073c;
    text-transform: uppercase;
}

.marcas{
    color: #ffffff;
    display: flex;
    margin-left: 15px;
    text-align: justify;
    font-family: 'Regan Black', sans-serif;
    margin-bottom: 18px;
    font-weight: 700;
    font-size: 25px;
    background-color: #21073c;
    width: 600px;
    height: 40px;
    padding-top: 10px;
}

.imagens2{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
.imagens2 .fila{
    display: flex;
    width: 216px;
    height: 112px;
}

.titleFinal{
    display: flex; 
    margin-left: 15px;
    margin-top: 70px;
    font-family: 'Regan HeavyItalic', sans-serif;
    font-weight: 900; /*Font-Height aumenta a largura da letra */
    font-style: italic;
    font-size: 2rem;
    color: #21073c;
    text-transform: uppercase;

}

.paragrafoFinal{
    color: #ffffff;
    display: flex;
    margin-left: 15px;
    text-align: justify;
    font-family: 'Regan Black', sans-serif;
    margin-bottom: 18px;
    font-weight: 700;
    font-size: 25px;
    background-color: #21073c;
    width: 650px;
    height: 40px;
    padding-top: 10px;
}

.imagens3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-bottom: 150px;
    margin-top: 70px;
    margin-left: 40px;
    width: 1300px;
}
.imagemFinal{
    display: flex;
    padding-left: 100px;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
    width: 600px;
}

.imagemFinal1{
    padding-right: 20px;
}
.imagemFinal2{
    padding-left: 20px;
}

.bolsaNike{
    margin-top: 15px;
}
.bolsaFila{
    margin-top: 15px;
}

.final3{
    color: #ffffff;
    display: flex;
    margin-left: 15px;
    text-align: justify;
    font-family: 'Regan Black', sans-serif;
    font-weight: 700;
    font-size: 35px;
    background-color: #21073c;
    width: 570px;
    height: 55px;
    padding-top: 10px;
    margin-bottom: 100px;
}
.final2 .logo{
    display: flex;
    font-family: 'Regan HeavyItalic', sans-serif;
    font-weight: 900; /*Font-Height aumenta a largura da letra */
    font-style: italic;
    font-size: 2rem;
    color: #ffffff;
    text-transform: uppercase;
    padding-right: 20px;
}

.containerRodape{
    background-color: #bd9de4;
    margin-top: 60px;
}
.logosImagens{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1370px;
}

.caminhao{
    display: flex;
    justify-content: center;
    padding-left: 170px;
}

.texto{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    margin-top: 57px;
    padding-left: 10px;
}

.texto .tituloRodape{
    color: #fff;
    font-family: 'Regan HeavyItalic', sans-serif;

}
.texto .paragrafoRodape{
    color: #fff;
    font-family: 'Regan HeavyItalic', sans-serif;
}

.texto2{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    margin-top: 57px;
    padding-right: 10px;
}
.texto2 .tituloRodape2{
    color: #fff;
    font-family: 'Regan HeavyItalic', sans-serif;

}
.texto2 .paragrafoRodape2{
    color: #fff;
    font-family: 'Regan HeavyItalic', sans-serif;
}

.cartao{
    display: flex;
    
}
.texto3{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    margin-top: 57px;
    padding-left: 10px;
}
.texto3 .tituloRodape3{
    color: #fff;
    font-family: 'Regan HeavyItalic', sans-serif;

}
.texto3 .paragrafoRodape3{
    color: #fff;
    font-family: 'Regan HeavyItalic', sans-serif;
}

.lista{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 250px;
    margin-right: 150px;
}
.lista1{
    font-size: 14px;
    font-family: 'Regan HeavyItalic', sans-serif;
    color: #fff;
    text-decoration: none;
    margin-bottom: 5px;
}

.listaAjuste ul {
    margin-top: 50px;
    display: flex;
    list-style-type: none; 
    padding: 0; 
}
.tituloLista {
    font-size: 18px; 
    margin-bottom: 10px; 
    color:#000000;
    font-family: 'Regan HeavyItalic', sans-serif;
}

.listaAjuste ul li {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px; 
}

.tituloLista2 {
    display: flex;
    font-size: 18px; 
    margin-bottom: 25px; 
    color:#000000;
    font-family: 'Regan HeavyItalic', sans-serif;
}
.imagensCentral{
    display: flex;
    justify-content: space-between;
}

.cartoes{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.tituloCartao{
    margin-bottom: 20px;
    font-family: 'Regan HeavyItalic', sans-serif;
    font-size: 18px;
}

.mensagem{
    margin-top: 30px;
    display: flex;
   justify-content: center;
   align-items: center;
}

.paragrafoFooter{
    color: #727171;
    font-family: 'Regan HeavyItalic', sans-serif;
    font-size: 12px;
    margin-bottom: 25px;
}
